<h1>Add a Photo</h1>

<div>
<form action="http://localhost:3000/photos/create_photo">
  Caption:
  <input name="photo_caption" type="text">
  Source:
  <input name="photo_source" type="text">
  <button>Create Photo</button>
</form>
</div>
