<div class="container">
  <div class="row">
    <p></p>
    <div class="col-md-6 col-md-offset-3 hidden-xs hidden-sm">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Add a Photo</h1>
        </div>
        <ul class="list-group">
          <div>
            <form action="http://localhost:3000/photos/create_photo">
              <li class="list-group-item">Caption:
              <input name="photo_caption" type="text"></li>
              <li class="list-group-item">Source:
              <input name="photo_source" type="text" ></li>
              <li class="list-group-item"><button class="btn btn-success btn-block btn-lg" >Create Photo</button></li>
            </form>
          </div>

        </ul>
      </div>
    </div>
  </div>
</div>
