<div class="container">
  <div class="row">
    <p></p>
    <div class="col-md-10 col-md-offset-1 hidden-xs hidden-sm">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Photo #<%= @photo.id %> </h1>
        </div>

        <ul class="list-group">
          <li class="list-group-item"><div class="well well-sm"><img src="<%= @photo.source %>" class="img-responsive"></div></li>
          <li class="list-group-item"><p><%= @photo.caption %></p></li>
        </ul>
      </div>
    </div>
  </div>
</div>
